# Byte-compiled / optimized / DLL files
twitter/__pycache__/


# Ignore config files (ini)
*.ini

# Dev related
/twitter/testing/
twitter_kwds/

# logs
/twitter/logs

# pycharm related
.idea/

# Twitter API credentials
twitter/credentials.json