[CREDENTIAL]
FILE=credentials.json
RETRY_COUNT=5
RETRY_DELAY=5

[LOG]
FILE=twitter.log
FORMAT=%(asctime)s - %(name)s - %(levelname)s - %(message)s
BACKUP=2

[MONGO]
USER=
PWD=
HOST=
AUTHDB=
DB=

[REDIS]
HOST=localhost
PORT=6379
PWD=
TWITTER_KWDS=twitter_kwds
CREDENTIALS_LIST=credentials

[POSTGRES]
USER=
PWD=
HOST=
PORT=
DB=

[SAVER]
WORKERS=4
QUEUE=save_twitter_kwds
PREFETCH=2
DELAY=86400
NORMAL_DELAY=60

[CONSUMER]
HEARTBEAT=600
TIMEOUT=300
WORKERS=2
PREFETCH=1
SCHEDULED_Q=kwds_scheduled
RUN_NOW_Q=new_kwds

[SCHEDULER]
SLEEP=90

[FETCHER]
SLEEP=30
DAYS=7
FILTER=-filter:retweets
PAGE_LIMIT=100